body{
	background: url('resources/bg.png') no-repeat top center;
	background-color: #000;
}

@font-face{
font-family: Nevis;
src: url(nevis.ttf);
}

/* start main box*/
.main-wrapper{
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	width: 960px;
	height: auto;
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 0px 0px 50px 2px #000000;
	overflow: hidden;
}
/* end main box*/

/* start phone num box */
.phone-wrapper{
	width: 960px;
	height: 35px;
	background: url('resources/phonenumber.png') no-repeat top right;
}
/* end phone num box */

/* start header  */
.header{
	width: 960px;
	height: 42px;
}

.logo{
	margin-left: 40px;
	width: 920px;
	height: 42px;
	font-family: 'Open Sans', 'Arial', 'Verdana', sans-serif;
	margin-bottom: 30px;
}

.logo img{
	float: left;
}

.sitetitle{
	float: left;
	font-family: Nevis, sans-serif;
	line-height: 14px;
	margin-top: 8px;
	font-size: 22pt;
	font-weight: bold;
	color: #4f4f4f;
	text-shadow: 1px 1px 2px #aaaaaa;
}

.caption{
	color: #ababab;
	font-size: 10pt;
	font-family: 'Arial', sans-serif;
	font-weight: normal;
	text-shadow: 1px 1px 2px #fff;
	margin-left: 2px;
	
}

.nav-wrapper{
	float: right;
	margin-top: 21px;
	margin-right: -10px;
	text-align: center;
}

.nav-wrapper ul{
	list-style-type: none;
	margin: 0 auto;
	text-align: center;
}

.nav-wrapper ul li{
	color: #a2a2a2;
	margin-right: 30px;
	display: inline-block;
	text-align: center;
}

.nav-wrapper ul li a{
	color: #a2a2a2;
	height: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-family: 'Open Sans','Arial','Verdana', sans-serif;
	display: block;
	text-decoration: none;
	font-size: 10pt;
	font-weight: bold;
	border: solid 1px #fff;
}


.nav-wrapper ul li a:hover, .active a, .active a:visited{
	color: #ffffff;
	border-radius: 5px;
	border: 1px solid #000000;
	background: -webkit-linear-gradient(top, #6c9ee0 0%,#1b65c8 8%,#003986 73%,#317fe6 100%); /* Chrome10+,Safari5.1+ */
	box-shadow: 0px 3px 1px 0px #cecece;
}

.active a:hover{

}

/* end header */


.slice1{
	width: 960px;
	height: 336px;
	background: url('resources/bg2.png');
	position: relative;
}

.slice2{
	width: 960px;
	height: 124px;
	background-color: #ededed;
	position: relative;
	z-index: 6;
}

.slice3{
	width: 960px;
	height: 530px;
	padding-left: 6px;
	box-shadow: 0px 1px 5px 0px #989898;
	z-index: 2;
	position: relative;
}

.slice4, .slice5{
	width: 960px;
	height: 530px;
	padding-left: 6px;
	box-shadow: 0px 10px 30px 0px #dedede;
	z-index: 3;
	position: relative;
}


.slice4{
	z-index: 3;
}

.slice5{
	z-index: 2;
}

.slice6{
	width: 960px;
	height: 370px;
	padding-left: 6px;
	box-shadow: 0px 2px 5px 0px #bdbdbd;
	padding-top: 10px;
	z-index: 1;
	position: relative;
}


.footer_links{
	width: 960px;
	height: 214px;
	padding: 40px;
	background-color: #ededed;
	position: relative;
}

.footer{
	width: 960px;
	height: 60px;
	background-color: #ededed;
	box-shadow: 0px 0px 2px 0px #989898;
	font-family: 'Arial', sans-serif;
	font-size: 10pt;
	color: #4f4f4f;
	position: relative;
}

.ic_box{
	float: left;
	width: 262px;
	height: 75px;
	margin-top: 40px;
	margin-left: 40px;
}

.ic_box img{
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}

#phoneicon{
	margin-top: 7px;
}

#clockicon{
	margin-top: 2px;
}

.cap{
	float: left;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: bold;
	font-size: 11pt;
	color: #565656;
	margin-top: 10px;
	margin-left: 15px;
	margin-bottom: 0px;
}

.description{
	margin-top: 0px;
	float: left;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: normal;
	font-size: 10pt;
}

.contents{/*services also uses this class */
	width: 306px;
	height: 468px;
	float: left;
	margin-top: 30px;
}

.contents > span{/*services also uses this class */
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 19pt;
	font-weight: bold;
	color: #575757;
	float: left;

}

.seot, .seotitle{/*services also uses this class */
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 19pt;
	font-weight: bold;
	color: #575757;
}

.seotitle{/*services also uses this class */
	float: left;
}

.seo{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 11pt;
	font-weight: bold;
	color: #575757;
	float: left;
	position: relative;
	margin-top: 4px;
	height: 25px;
}

.holder{
	width: 265px;
}

.contents img{/*services also uses this class */
	margin-top: 20px;
	margin-bottom: 20px;
	width: 265px;
	height: 142px;
	height: auto;
}

.slice3_content{/*services also uses this class */
	margin-left: 36px;
}

.cont_paragraph{
	width: 260px;
	margin-top: 0px;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 9pt;
	color: #4f4f4f;
	text-align: left;
	line-height: 22px;
}

.rml, .rmr{  /*services also uses this class */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(23%,#ffffff), color-stop(100%,#e5e5e5));
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 3px;
	border-radius: 5px;
	font-family: Nevis,'Open Sans', 'Arial', sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #6d6d6d;
	text-align: center;
	box-shadow: 0px 0px 3px 0px #6d6d6d;
}

.rml{/*services also uses this class */
	float: left;
}

.rmr{/*services also uses this class */
	float: right;
}

.des_link{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 9pt;
}

.linkholder{
	margin-top: -14px;
	width: 265px;
	height: 10px;
	float: left;
	margin-bottom: 25px;

}

.linkholder span{
	float: left;
	margin-top: 22px;
	font-weight: 400;
}

.bodylinks{
	color: #0f4eb5;
	text-decoration: none;
}

.linkholder img{
	width: 5px;
	height: 10px;
	float: left;
	margin-top: 23px;
	margin-right: 14px;
}

.footer_links, .footer{
		font-family: 'Arial', sans-serif;
}

#wrapper1{
	width: 150px;
}

#wrapper2{
	width: 335px;
	margin-left: 40px;
}

#wrapper1, #wrapper2{
	float: left;
}

.foothead{
	font-family: 'Arial', sans-serif;
	font-size: 14pt;
	font-weight: 700;
	color: #575757;
	display: block;
	margin-bottom: 30px;
}
.footcontent{
	font-size: 10pt;
	font-weight: 400;
	color: #4f4f4f;
}

.footcontent p{
	line-height: 25px;
}

.footcontent span{
	color: black;
	font-weight: bold;
}

#fromblog .foothead{
	margin-bottom: 14px;
}


#fromblog .footcontent p{
	line-height: 18px;
	margin-bottom: 20px;
}

#fromblog a{
	font-weight: bold;
}

.grab{
	margin-left: 20px;
	padding-top: 22px;
	padding-left: 20px;
	float: left;
}

.grab span{
	float: left;
}


.iconholder{
	margin-top: 0px;
	margin-left: 145px;
	float: left;
}

.footicon{
	margin-right: 15px;
}


.bfooter{
	margin-top: -2px;
	margin-left: 90px;
}


/* start about us*/
.slice1_small{
	width: 960px;
	height: 84px;
	background: url('resources/bg3.png');
	position: relative;
	z-index: 3;
	font-family: Arial;
	color: #ffffff;
}



.content_holder
{
	width: 960px;
	height: 704px;
	box-shadow: 0px 1px 5px 0px #989898;
	overflow: hidden;
	z-index: 2;
	position: relative;
}


.title{
	float: left;
	margin-top: 26px;
	margin-left: 40px;
	font-size: 22pt;
	font-weight: bold;
}

.titlecap{
	float: right;
	margin-top: 32px;
	margin-right: 40px;
	font-size: 16pt;
	font-style: italic;
}

.arti{
	width: 700px;
	height: 704px;
	position: relative;
	z-index: 1;
	box-shadow: 0px 0px 60px 1px #cdcdcd;
	border-left: 1px solid #eeeeee;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	overflow: hidden;
	float: left;
}

.arti p{
	font-family: 'Arial', sans-serif;
	font-size: 9pt;
	color: #4f4f4f;
	line-height: 25px;
	margin-left: 40px;
	margin-right: 30px;
	margin-top: 40px;
	text-align: left;
}

.sidebar{
	width: 258px;
	height: 704px;
	float: left;
}

.sidewrapper{
	width: 100%;
	margin-top: 40px;
}

.sidetitle{
	width: 258px;
	height: 30px;
	font-family: 'Arial', sans-serif;
	font-size: 12pt;
	color: #000000;
	font-weight: bold;
	background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(211,211,211,1)), color-stop(0.85, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(211,211,211,1) 0%, rgba(255,255,255,1) 85%);
	background: -moz-linear-gradient(left, rgba(211,211,211,1) 0%, rgba(255,255,255,1) 85%);
	background: -o-linear-gradient(left, rgba(211,211,211,1) 0%, rgba(255,255,255,1) 85%);
	background: linear-gradient(left, rgba(211,211,211,1) 0%, rgba(255,255,255,1) 85%); /* Chrome10+,Safari5.1+ */
}

.sidetitle p{
	margin-left: 20px;
	padding-top: 7px;
}

.sidecontent{
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 60px;
}

.sidecontent figure{
	margin-top: 30px;
	margin-left: -1px;
}
/* end about us*/


.benefits{
	font-family: 'Arial', sans-serif;
	font-size: 19pt;
	color: #575757;
	margin-left: 40px;
	margin-top: 20px;
	position: relative;
}

.ben_wrapper{
	margin-left: 25px;
	margin-top: 20px;
	width: 448px;
	float: left;
}

.ben_wrapper2{
	margin-left: 0px;
	margin-top: 20px;
	width: 448px;
	float: left;
}


.ben_content{
	width: 448px;
	float: left;
	margin-bottom: 20px;
}

.ben_img{
	float: left;
	padding: 20px;
}


.ben_par{
	margin-top: 5px;
	color: #4f4f4f;
	float: right;
	width: 375px;
	font-family: 'Arial', sans-serif;
	font-size: 9pt;
	line-height: 20px;
}



/* PORTFOLIO*/


.portf{
	float: right;
	margin-top: 33px;
	margin-right: 16px;
}


.plinkswrap{
	float: right;
	text-align: center;
}

.plinkswrap ul{
	list-style-type: none;
	margin: 0 auto;
	text-align: center;
}

.plinkswrap ul li{
	color: #93d9fd;
	margin-right: 8px;
	display: inline-block;
	text-align: center;
}

.plinkswrap ul li a{
	color: #93d9fd;
	height: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-family: 'Open Sans','Arial','Verdana', sans-serif;
	font-size: 10pt;
	display: block;
	text-decoration: none;

}


.plinkswrap ul li a:hover, .plinks_active a, .plinks_active a:visited{
	color: #ffffff;

}


.pholder{
	width: 960px;
	height: 805px;
	position: relative;
	z-index: 2;
	box-shadow: 0px 5px 25px 1px #dfdfdf;
	padding-top: 35px;
	overflow: hidden;
}

.portitle{
	font-family: 'Arial', sans-serif;
	font-size: 12pt;
	color: #5b5b5b;
	font-weight: bold;
	line-height: 20px;
}

.port_paragraph{
	width: 270px;
	margin-top: 0px;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 9pt;
	color: #4f4f4f;
	text-align: left;
	line-height: 22px;
}


.portcontents{
	width: 306px;
	margin-bottom: 30px;
	margin-left: 2px;
	float: left;
}

.portholder{
	width: 265px;

}

.portholder img{
	width: 270px;
	margin-bottom: 20px;
}

.portslice3_content{
	margin-left: 36px;
}

.portcontent_nav{
	width: 960px;
	height: 64px;
	box-shadow: 0px 2px 5px 0px #bdbdbd;
	position: relative;
	z-index: 1;
}

.pcontnav_wrap{
	margin-top: 22px;
	float: left;
	text-align: center;
}

.pcontnav_wrap ul{
	list-style-type: none;
	margin: 0 auto;
	text-align: center;
}

.pcontnav_wrap ul li{
	color: #0e4db6;
	color: blue;
	display: inline-block;
	margin-right: 4px;
	text-align: center;
}

.pcontnav_wrap ul li a{
	color: #0e4db6;
	height: 15px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: 'Open Sans','Arial','Verdana', sans-serif;
	font-size: 10pt;
	font-weight: bold;
	display: block;
	text-decoration: none;

}


.pcontnav_wrap ul li a:hover, .pcontnav_active a, .pcontnav_active a:visited{
	color: #000000;

}


/* end PORTFOLIO*/


.contact_form{
	width: 654px;
	height: 700px;
	position: relative;
	z-index: 1;
	padding-top: 35px;
	padding-left: 40px;
	box-shadow: 0px 0px 60px 1px #cdcdcd;
	overflow: hidden;
	float: left;
}

.detail{
	font-family: 'Arial', sans-serif;
	font-size: 12pt;
	color: #4f4f4f;
	margin-bottom: 10px;
}


.tfield, .tfield2{
	width: 386px;
	border-radius: 5px;
	border: 2px solid #c9c9c9;
	margin-bottom: 25px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(237,237,237,1)), color-stop(0.75, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(rgba(237,237,237,1) 0%, rgba(255,255,255,1) 75%);
	background: -moz-linear-gradient(rgba(237,237,237,1) 0%, rgba(255,255,255,1) 75%);
	background: -o-linear-gradient(rgba(237,237,237,1) 0%, rgba(255,255,255,1) 75%);
	background: linear-gradient(rgba(237,237,237,1) 0%, rgba(255,255,255,1) 75%); /* Chrome10+,Safari5.1+ */
}

.tfield{
	height: 33px;
}


.tfield2{
	height: 164px;
}

.contact_stitle{
	width: 258px;
	height: 30px;
	font-family: 'Arial', sans-serif;
	font-size: 12pt;
	color: #000000;
	margin-top: 10px;

	font-weight: bold;
	background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(211,211,211,1)), color-stop(0.85, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(211,211,211,1) 0%, rgba(255,255,255,1) 85%);
	background: -moz-linear-gradient(left, rgba(211,211,211,1) 0%, rgba(255,255,255,1) 85%);
	background: -o-linear-gradient(left, rgba(211,211,211,1) 0%, rgba(255,255,255,1) 85%);
	background: linear-gradient(left, rgba(211,211,211,1) 0%, rgba(255,255,255,1) 85%); /* Chrome10+,Safari5.1+ */
}

.contact_stitle p{
	margin-left: 20px;
	padding-top: 7px;
}

.contact_scont{
	font-family: 'Arial', sans-serif;
	font-size: 10pt;
	color: #4f4f4f;
	margin-left: 20px;
	margin-top: 10px;
	line-height: 20px;
	margin-bottom: 20px;
}

.contact_scont img{
	margin-top: 8px;
	margin-right: 8px;
}

.contact_contholder{
	width: 960px;
	height: 650px;
	overflow: hidden;
	box-shadow: 0px 1px 5px 0px #989898;
	position: relative;
	z-index: 2;
}

.submit{
	width: 90px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(23%,#ffffff), color-stop(100%,#e5e5e5));
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-top: 3px;
	border-radius: 5px;
	font-family: Nevis,'Open Sans', 'Arial', sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #6d6d6d;
	text-align: center;
	box-shadow: 0px 0px 3px 0px #6d6d6d;
}